<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deep Learning">

    <title>Deep Learning</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='st.css')}}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>

    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }

    </style>
  </head>

  <body>
    <!-- Begin page content -->
   <nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapse" ></button>
			<a class="navbar-brand" href="#">Project</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" placeholder="Email" class="form-control">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" class="form-control">				</div>
				<button type="submit" class="btn btn-success">Sign in</button>
			</form>
		</div>
	</div>
</nav>
<div class="container-fluid">
    	<div class="container" style="margin-top:60px">
      <div class="page-header">
        <h1><a href="/">Deep Learning -Image Retrieval</a></h1>
        <p>
          Version:1.0</br>
	  Author:Tianyu Sang</br>
	  Laboratory:Robot and IOT in EE
	  College:USTB</br>
        </p>
      </div>

      <div>
        <h2>Classification、ImageCaptain、ImageRetrieval、ObjectDetection</h2>
        <form id="formupload" class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">upload an image:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
      </form>
      </div>

      {% if has_result %}
      {% if not result[0] %}
      <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file? </div>
      {% else %}
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" width="192" height="192" src={{ imagesrc }}></a>
          <div>
            <div class="row marketing">
              <div class="col-lg-12">
                <h3>Image Retrieval</h3>
                {% if query_img[0] %}
                {% for im in query_img %}
                <a class="pull-left" href="#"><img class="media-object" width="192" height="192" src={{ im }}></a>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
      </div>
      {% endif %}
      {% else %}
      <div class="row marketing">
        <div class="col-lg-6">
          <h4><a href="#">简介</a></h4>
          <p>深度学习demo：使用GoogleNet，Faster-RCNN，Neuraltalk2制作的计算机视觉应用小程序（分类，目标识别，Image Caption和图像检索）.</p>

          <h4><a href="http://192.168.116.131:5000">图像分类</a></h4>
          <p>图像分类，根据各自在图像信息中所反映的不同特征，把不同类别的目标区分开来的图像处理方法。它利用计算机对图像进行定量分析，把图像或图像中的每个像元或区域划归为若干个类别中的某一种，以代替人的视觉判读.</p>

          <h4><a href="http://202.204.54.92:5000">目标检测</a></h4>
          <p>目标检测，也叫目标提取，是一种基于目标几何和统计特征的图像分割，它将目标的分割和识别合二为一，其准确性和实时性是整个系统的一项重要能力。尤其是在复杂场景中，需要对多个目标进行实时处理时，目标自动提取和识别就显得特别重要.</p>
        </div>

        <div class="col-lg-6">
          <h4><a href="http://202.204.54.92:5000">Image Caption</a></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4><a href="#">图像检索</a></h4>
          <p>使用图像的颜色、纹理、布局等进行分析和检索的图像检索技术，即基于内容的图像检索（Content-based Image Retrieval，简称CBIR）技术。CBIR属于基于内容检索（Content-based Retrieval，简称CBR）的一种，CBR中还包括对动态视频、音频等其它形式多媒体信息的检索技术.</p>

          <h4><a href="#">About US</a></h4>
          <p>北京科技大学机器人与物联网实验室.</p>
        </div>
      </div>
      <hr>
      {% endif %}

    </div>
   <nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapse" ></button>
			<a class="navbar-brand" href="#">单位：北京科技大学</a>
		</div>
		<div id="navba" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">院系：计算机与通信工程学院</a></li>
				<li><a href="#">实验室：电子与通信工程物联网与机器人研究室</a></li>
				<li><a href="#">制作人：桑天雨</a></li>
			</ul>
		</div>
	</div>
</nav>
 </body>
</html>